body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
}

.navbar {
  background-color: #33a367;
  /* Darker green color */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #2a864f;
  /* Darker green color on hover */
}

.quick-links {
  background-color: #d2ffd7;
  /* Lighter green background */
  width: 30%;
  margin: 57px;
  padding-bottom: 52px;
  position: fixed;
  top: 20px;
  right: -40px;
}

.welcome-section {
  border-radius: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  margin: 30px;
  float: left;
  width: 60%;
}

.quick-links h2 {
  background-color: #33a367;
  /* Darker green background for the heading */
  color: white;
  padding: 10px;
  margin: 0;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.quick-links a {
  color: #33a367;
  /* Darker green color for the links */
  text-decoration: none;
}

.quick-links a:hover {
  text-decoration: underline;
}

.bottom-navbar {
  background-color: #33a367;
  /* Darker green color */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: white;
}

.profile-details {
  border-radius: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  margin: 30px;
  float: left;
  width: 60%;
}

.profile-details th,
.profile-details td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.welcome-section .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columns in the grid */
  grid-gap: 10px;
  /* Gap between images */
  width: 90%;
  margin: 0 auto;
  /* Center the grid */
  border: 3px solid rgb(2, 80, 2);
}

.welcome-section .image-grid img {
  width: 100%;
  height: auto;
  /* To maintain the aspect ratio of the images */
  display: block;
}